# === VIDEO FILES ===
*.mp4
*.avi
*.mov
*.mkv

# === PYTHON CACHE FILES ===
__pycache__/

# === OUTPUT & TEMP FOLDERS ===
output_frames/
output_tracking/
output_videos/
source_video/
runs/classify/
runs/segment/
